.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .layout-header, .layout-main, .layout-footer {
    padding: 20px 30px;
    @media (max-width: 768px) {
      padding: 20px 10px;
    }  
  }
  .layout-header {
    padding: 20px 30px;
    .layout-header-content {
      margin: 0 auto;
      .layout-title {
        color: var(--color-secondary-1);
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        font-size: 1.75rem;
        letter-spacing: -1px;
        img {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
  .layout-main {
    flex: 1;
    .layout-main-content {
      max-width: var(--width-container);
      margin: 0 auto;
    }
  }
  .layout-footer {
    margin: 20px 0 10px;
    .layout-footer-content {
      margin: 0 auto;
      .layout-footer-text {
        text-align: center;
        font-weight: 500;
        font-size: 1.125rem;
        color: var(--color-neutral-2);
        @media (max-width: 768px) {
          font-size: 1rem;
        }
        .layout-footer-link {
          color: var(--color-primary-3);
          transition: .2s;
          &:hover {
            color: var(--color-primary-2);
          }
        }
      }
    }
  }
}
