.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-header {
  padding: 1.5rem 1rem;
}

.layout-header-content {
  max-width: 72rem;
  margin: 0 auto;
}

.layout-title {
  color: var(--color-neutral-1);
  text-align: center;
  font-weight: 600;
}

.layout-main {
  flex: 1;
  padding: 0 1rem;
}

.layout-main-content {
  max-width: 72rem;
  margin: 0 auto;
}

.layout-footer {
  padding: 1.5rem 1rem;
  margin-top: 3rem;
}

.layout-footer-content {
  max-width: 72rem;
  margin: 0 auto;
}

.layout-footer-text {
  text-align: center;
  color: var(--color-neutral-2);
}

.layout-footer-highlight {
  color: var(--color-primary-2);
  font-weight: 500;
}
