.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--color-neutral-1-rgb), 0);
  padding: 55px 90px 30px;
  transition: background-color 0.3s ease;
  
  &.modal-open {
    background-color: rgba(var(--color-neutral-1-rgb), .5);
  }
  &.modal-closing {
    background-color: rgba(var(--color-neutral-1-rgb), 0);
  }
  &.modal-open .modal-container {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  &.modal-closing .modal-container {
    transform: scale(0.95) translateY(20px);
    opacity: 0;
  }
  .modal-container {
    position: relative;
    width: 100%;
    max-width: var(--width-container);
    max-height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    transform: scale(0.95) translateY(20px);
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;
    .modal-close-button {
      position: absolute;
      right: 20px;
      bottom: calc(100% + 10px);
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--radius-max);
      color: var(--color-neutral-2);
      transition: .2s;
      background-color: white;
      box-shadow: var(--shadow-md);
      border: none;
      cursor: pointer;
      z-index: 10;
      &:hover {
        color: var(--color-neutral-1);
        background-color: var(--color-neutral-5);
      }
      .modal-close-icon {
        width: 22px;
        height: 22px;
      }
    }
    .modal-nav-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--radius-max);
      color: var(--color-primary-3);
      transition: .2s;
      background-color: white;
      box-shadow: var(--shadow-md);
      border: none;
      cursor: pointer;
      z-index: 10;
      &:hover {
        color: var(--color-primary-2);
        background-color: var(--color-primary-5);
      }
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
      &.previous {
        left: -70px;
        padding-right: 5px;
      }
      &.next {
        right: -70px;
        padding-left: 5px;
      }
      .modal-nav-icon {
        width: 35px;
        height: 35px;
      }
    }
    .modal-content {
      background-color: white;
      box-shadow: var(--shadow-md);
      border-radius: var(--radius-lg);
      padding: 10px;
      overflow: auto;
      width: 100%;
      .modal-image-container {
        display: flex;
        gap: 5px;
        max-height: 500px;
        width: 100%;
        align-items: center;
        justify-content: center;
        .modal-image-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 0;
          .modal-image {
            max-width: 100%;
            max-height: 500px;
            height: auto;
            width: auto;
            object-fit: contain;
            border-radius: var(--radius-sm);
          }
        }
      }
      .modal-details {
        margin: 20px auto 0;
        text-align: center;
        max-width: 800px;
        .modal-title {
          font-size: 1.75rem;
          font-weight: 600;
          margin-bottom: 10px;
        }
        .modal-description {
          color: var(--color-neutral-2);
          font-size: 1.125rem;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .modal-overlay {
    padding: 50px 0 0;
    .modal-container {
      height: 100%;
      .modal-close-button {
        width: 30px;
        height: 30px;
        .modal-close-icon {
          width: 18px;
          height: 18px;
        }
      }
      .modal-nav-button {
        width: 34px;
        height: 34px;
        top: unset;
        bottom: calc(100% + 8px);
        transform: unset;
        &.previous {
          left: 20px;
          padding-right: 3px;
        }
        &.next {
          left: 76px;
          padding-left: 3px;
        }
        .modal-nav-icon {
          width: 25px;
          height: 25px;
        }
      }
      .modal-content {
        height: 100%;
        border-radius: var(--radius-lg) var(--radius-lg) 0 0;
        display: flex;
        flex-direction: column;
        .modal-image-container {
          flex-direction: column;
          max-height: unset;
          .modal-image-wrapper {
            width: 100%;
            .modal-image {
              width: 100%;
              max-height: unset;
            }
          }
        }
        .modal-details {
          margin: 10px auto 20px;
          order: -1;
          .modal-title {
            line-height: 1.4;
            font-size: 1.5rem;
          }
          .modal-description {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
