.tabs-wrapper {
  --padding: 3px;
  display: flex;
  gap: 5px;
  padding: var(--padding);
  background-color: var(--color-secondary-6);
  border: 1px solid var(--color-secondary-3);
  border-radius: calc(var(--radius-sm) + var(--padding));
  width: fit-content;
  height: 100%;
  &.centered {
    margin-left: auto;
    margin-right: auto;
  }

  .tab-button {
    padding: 5px 15px;
    border-radius: var(--radius-sm);
    transition: all 0.2s ease-in-out;
    font-weight: 500;
    border: none;
    cursor: pointer;
    background: none;
    font-family: inherit;
    line-height: 1.4;
    color: var(--color-secondary-1);
    @media (max-width: 768px) {
      font-size: .875rem;
      padding: 6px 12px;
    }
    &:hover {
      background-color: var(--color-secondary-4);
    }
    &.active {
      background-color: var(--color-primary-2);
      color: white;
    }
  }

  .tab-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
