:root {
  /* Primary palette */
  --color-primary-1: #711D33;
  --color-primary-2: #9A2845;
  --color-primary-3: #D25374;
  --color-primary-4: #EAAEBD;
  --color-primary-5: #F9E7EB;
  
  /* Secondary palette */
  --color-secondary-1: #6A3D0C;
  --color-secondary-2: #9B6427;
  --color-secondary-3: #ECA555;
  --color-secondary-4: #FFCA8F;
  --color-secondary-5: #FFEDD9;
  --color-secondary-6: #FFFAF5;
  
  /* Neutrals */
  --color-neutral-1: #473E3E;
  --color-neutral-1-rgb: 71, 62, 62;
  --color-neutral-2: #6E5E5E;
  --color-neutral-5: #DED4D4;

  /* Shadows */
  --shadow-md: 0 4px 16px -4px rgba(var(--color-neutral-1-rgb), 0.32), 0 1px 6px -2px rgba(var(--color-neutral-1-rgb), 0.2);
  
  /* Border radius */
  --radius-xs: 5px;
  --radius-sm: 10px;
  --radius-md: 15px;
  --radius-lg: 20px;
  --radius-max: 1000px;

  /* widths */
  --width-container: 1210px;

  /* Breakpoints */
  --breakpoint-tab: 768px;
  --breakpoint-mob: 550px;
}
