@import url("https://fonts.googleapis.com/css2?family=Mali:wght@400;500;600&display=swap");
@import "./styles/variables.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mali', sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  color: var(--color-neutral-1);
  background-color: var(--color-secondary-5);
  button {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    background: none;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  a {
    text-decoration: none;
  }
}
